  body{
    background-color: #efefef;
  }
  #app {
    text-align: center;
  }
  nav{
    display: flex;
    justify-content: space-around;
    align-items:  center;
    min-height: 10vh;
    background-color: rgb(73, 79, 82);
  }
  .nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  .character-row{
    margin: 10px;
  }
  .top-10{
    margin-top: 10px;
  }